<tbody>
  <tr>
    <td class='text-break small'><%= truncate(post.title, length: 12) %></td>
    <td class='text-break small'><%= truncate(post.body, length: 24) %></td>
    <td class='small'>
      <%= link_to '詳細', post_path(post), class: 'link-dark text-decoration-none' %>
      <% if post.user == current_user %>
        |
        <%= link_to '編集', edit_post_path(post), class: 'link-dark text-decoration-none' %>
        |
        <%= link_to '削除', post_path(post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'link-dark text-decoration-none' %>
      <% end %>
    </td>
  </tr>
</tbody>
