<h1 class='mt-3'>Post詳細</h1>

<div>
  <p>
    <strong>タイトル:</strong>
    <%= @post.title %>
  </p>

  <p>
    <strong>内容:</strong>
    <%= @post.body %>
  </p>
</div>

<div class="text-center actions mt-3">
  <%= link_to 'Post一覧へ', posts_path, class: 'btn btn-dark' %>
</div>

<% if @post.user == current_user %>
  <div class='text-center mt-4'>
    <%= link_to "編集", edit_post_path(@post), class: 'link-dark text-decoration-none' %>
    |
    <%= link_to "削除", post_path(@post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'link-dark text-decoration-none' %>
  </div>
<% end %>
